/* Reset some default styles */
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the body */
body {
    background-color: #f7f7f7;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Style the container for the header and main content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Style the header */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #007bff;
    text-align: center;
}

/* Style form elements */
.input-container {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

input[type="number"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#downloadButton {
    display: none;
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#downloadButton:hover {
    background-color: #0056b3; /* Button background color on hover */
}

/* Style the result container */
#result {
    margin-top: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

/* Style the footer */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

footer p {
    margin-bottom: 10px;
}

footer ul li img {
    width: 24px; /* Adjust the width to your preference */
    height: 24px; /* Adjust the height to your preference */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 10px;
}

/* Style the social media icons */
ul li img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 32px;
    }

    button {
        padding: 10px 20px;
        font-size: 14px;
    }
}
